
// default and large screen

@media all and (min-width: 700px) {
   
 @for $i from 1 through 10 {
    .starman-#{$i} {
		position: absolute;
		top: 5%;
		left: 5%;

		h1 {
			font-family: 'Bangers', cursive;
			font-size: 12px * $i; 
			color: #D0333E;
			transform: rotate(-19deg);

			}		
		}
	
	}

}


// Mobile site

@media screen and (max-width: 700px) {
    .starman-5 {
	position: absolute;
	top: -5px;
	margin: auto;

	h1 {
		font-family: 'Bangers', cursive;
		font-size: 5vw;
		color: $cremish;
		transform: rotate(-6deg);

	}

	
}
}